{% if messages %} {% for message in messages %}
<div
  style="top: {{ forloop.counter0|add:2 }}rem;"
  class="fixed z-50 left-2 min-h-14 md:min-h-16 w-44 md:w-56 p-2 rounded-lg text-xs md:text-sm font-medium text-wrap shadow-md flex items-center justify-center {{ message.tags }} toaster"
>
  <p>{{ message }}</p>
  <button
    class="btn {% if message.tags == 'error' %} bg-red-500 {% elif message.tags == 'success' %} bg-green-500 {% elif message.tags == 'info' %} bg-yellow-500 {% else %} bg-gray-500 {% endif %} size-6 rounded-full absolute -top-3 -right-3"
    onclick="this.closest('.toaster').remove();"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="!size-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>
</div>
{% endfor %} {% endif %}
