<div
  id="school_modal"
  class="fixed top-0 inset-0 z-50 overflow-y-scroll pt-16 pb-10 backdrop-blur-sm bg-stone-100/80 hidden"
>
  <h1 class="mb-6 gradient-heading text-center">{% if school.name %}Update school info {% else %} Add new school info {% endif %}</h1>

  <form
    id="school_form"
    class="w-[95%] max-w-xl mx-auto px-2 md:px-4 py-6 md:py-8 rounded-lg shadow-md border border-stone-200 bg-white"
  >
    {% csrf_token %}
    <div class="space-y-1 mb-6" id="name_container">
      <label for="name" class="label">School name</label>
      <input type="text" name="name" id="name" {% if school.name %} value="{{school.name}}" {% endif %} class="input" />
    </div>

    <div class="grid grid-cols-2 gap-x-3 gap-y-6 mb-6">
      <div class="space-y-1" id="state_container">
        <label for="state" class="label">State</label>
        <input type="text" name="state" id="state" {% if school.state %} value="{{school.state}}" {% endif %} class="input" />
      </div>
      <div class="space-y-1" id="district_container">
        <label for="district" class="label">District</label>
        <input type="text" name="district" id="district" {% if school.district %} value="{{school.district}}" {% endif %} class="input" />
      </div>
      <div class="space-y-1" id="place_container">
        <label for="place" class="label">Village/Town</label>
        <input type="text" name="place" id="place" {% if school.place %} value="{{school.place}}" {% endif %} class="input" />
      </div>
    </div>

    <div class="space-y-6 mb-6 relative" id="school_picture_container">
      <button
        type="button"
        id="select_photo"
        class="btn btn-ghost h-10 px-4 py-2 group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="group-hover:rotate-180 transition-all duration-300"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
        <span>{% if school.school_picture %} Change Picture {% else %} School Picture {% endif %}</span>
      </button>
      <input
        type="file"
        name="school_picture"
        id="school_picture"
        class="hidden"
        accept="image/jpeg, image/webp, image/img,image/png,"
      />
      {% if school.school_picture %}
    <img
      src="{{school.school_picture.url}}"
      alt="school picture" class="h-80 w-full  object-cover object-center mx-auto rounded-lg">
      {% endif %}
    </div>

    <div class="space-y-1 mb-6" id="description_container">
      <label for="description" class="label">Description</label>
      <textarea
        name="description"
        id="description"
        class="text-area"
      >{% if school.description %} {{school.description}} {% endif %}</textarea>
    </div>

    <div class="flex justify-center gap-x-3">
      <button
        id="school_modal_close"
        type="button"
        class="btn btn-destructive btn-size w-1/2"
      >
        Cancel
      </button>
      <button
        id="school_modal_save"
        type="submit"
        class="btn btn-default btn-size w-1/2"
      >
      {% if school.name %}  Update {% else %} Save {% endif %}
      </button>
    </div>
  </form>
</div>
