{% extends 'pages/auth/index.html' %} {% load static %}

<!-- title -->
{% block title %} forgot password {%endblock title %}

<!-- block content -->
{% block content %}
<h1 class="mb-2 gradient-heading">Forgot your password?</h1>
<h4 class="text-lg mb-6 text-red-500">
  No worries, we&apos;ll send you reset instructions.
</h4>

<form novalidate class="mb-6" id="forgot_password_form">
  {% csrf_token %}
  <div class="space-y-1 mb-6" id="email_container">
    <label for="email" class="label"> Email ID </label>
    <input autofocus type="email" id="email" name="email" class="input" />
  </div>
  <div class="flex justify-center">
    <button
      type="submit"
      id="forgot_password_button"
      class="btn btn-default btn-size w-1/2"
    >
      Send reset link
    </button>
  </div>
</form>

{% endblock content %}

<!-- block script -->
{% block script %}
<script type="module" src="{% static 'js/forgot_password.js' %}"></script>

{% endblock script %}