{% extends 'pages/auth/index.html' %} {% load static %}

<!-- title -->
{% block title %} change password {%endblock title %}

<!-- block content -->
{% block content %}
<h1 class="mb-2 gradient-heading">Change your password?</h1>
<h4 class="text-lg mb-6 text-red-500">
  Enter a new password that you haven't used before.
</h4>

<form novalidate class="mb-6" id="reset_password_form">
  {% csrf_token %} {% include 'pages/auth/forms/password_fields.html' %} 
  {%include 'pages/auth/forms/password_visibility.html' %}
  <div class="flex justify-center">
    <button
      type="submit"
      id="reset_password_button"
      class="btn btn-default btn-size w-1/2"
    >
      Change Password
    </button>
  </div>
</form>

{% endblock content %}

<!-- block script -->
{% block script %}
<script type="module" src="{% static 'js/extras/password_visibility.js' %}"></script>
<script type="module" src="{% static 'js/reset_password.js' %}"></script>

{% endblock script %}